* {
	padding: 0;
	margin: 0;
}
div#content {
	background-color: azure;
}

header {
	display: none;
}

.content_wrapper.chats.main {
	width: 100%;
	height: 100%;
}

/****SIDE****/
.sideContainer {
	float: left;
	width: 21%;
	background-color: #FFF;
	height: 100%;
	max-width: 16em;
	min-width: 12.5em;
	border-right: 2px solid #b1cbd8;
}

.avatar img, .itemContainer img, .currentContactAvatar img {
	width: 60px;
}

.topSide .profileDetail .avatar {
	position: absolute;
	left: 5px;
	top: 23px;
}

.profileDetail {
	position: relative;
	height: 200px;
	overflow: hidden;
}

.profileInfo {
	position: relative;
	white-space: nowrap;
	padding: 30px 15px 0 82px;
}

.profileInfo p, .itemInfo p, .currentContactInfo p {
	margin: 0;
	padding: 0;
}

.profileInfo p.fullName, .itemInfo p.contactName, .currentContactInfo p.fullName {
	font-weight: 600;
}

.profileInfo p.mood, .itemInfo p.contactStatus, .currentContactInfo p.contactStatus {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 95%;
	color: #8CA8B4;
	font-style: italic;
}

.itemContainer {

}
.itemContainer {
	position: relative;
}

.itemInfo {
	position: absolute;
	top: 0;
	padding: 10px 0 0 69px;
	width: 100%;
}

.searchContainer {
	text-align: center;
	margin: 20px 0 20px 0;
}
input[type="text"], input[type="text"]:focus {
	border: none;
	outline: none;
}
.menu {
	display: flex;
	text-align: center;
}

i.fa {
	width: 45px;
}

.menu i:last-child {
	padding-left: 90px;
}

/******Main chat******/
.mainChatContainer {
	display: block;
	height: 100%;
	overflow: hidden;
	background-color: #f5fafc;
	padding: 1em;
	min-height: 700px;
}

.chatHeaderContainer {
	height: 83px;
	border-bottom: 1px solid #b1cbd8;
}

.chatHeader {
	position: relative;
}

.currentContactContainer {
	position: absolute;
	left: 0;
	width: 100%;
}

.currentContactMenu {
	position: absolute;
	right: 0;
}

.currentContact {
	position: relative;
	width: 100%;
}
.currentContactAvatar {
	position: absolute;
	top: 0;
}

.currentContactInfo {
	position: absolute;
	top: 0;
	left: 75px;
	width: 100%;
}

.mainChatIner {
	height: 100%;
	display: block;
}

.chatContent {
	width: 100%;
	margin-top: 110px;
	height: 100%;
	display: block;
}

.contactList ul {
	/*overflow: scroll;
	height: 100%;*/
}

.contactList li.active {
	background-color: #C7EDFC;
}

#loader {
 position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}